/*css mobile style*/

.wrapper {
    display: block;
    color: black;
    background-position-x: center;
    display: block;
    padding-bottom: 30%;
    margin-top: 5%;
  }
  
  .labelName {
    justify-content: center;
    display: flex;
    font-family: Snell Roundhand, cursive;
    font-style: oblique;
    height: 20%;
    font-size: 180%;
    align-items: center;
    margin-top: 5%;
  }
  
  .windowName {
    padding-top: 10px;
    padding-bottom: 3%;
    padding-right: 18%;
    padding-left: 2%;
    border-left-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: 30%;
    margin-top: 13%;
    width: 6rem;
    color: #aaaa76;
  }
  
  .nextButton {
    border-radius: 10%;
    color: white;
    height: 30%;
    width: 30%;
    padding: 6px;
    margin-top: 30px;
    margin-left: 20px;
    background-image: linear-gradient(225deg, #404702 0%, #3c281d 50%, #6f0b00 100%, #e67a00);
    display: block;
    margin-right: auto;
    margin-left: 30%;
  }
  
  .modalHeader {
    display: flex;
    justify-content: flex-end;
  }
  
  /*fin style mobile*/
  
  
  
  @media only screen and (min-width: 700px) {
  
  
    .wrapper {
      display: block;
      background-repeat: no-repeat;
      background-size: 25%;
      background-position-x: center;
      padding-top: 5%;
      background-position-x: center;
      margin: 3% auto 0 auto;
    }
  
    .modalHeader {
      display: flex;
      justify-content: flex-end;
    }
  
    
    .labelName {
      justify-content: center;
      display: flex;
      font-family: Snell Roundhand, cursive;
      font-style: oblique;
      font-size: 2rem;
      align-items: center;
      color: black;
      margin-top: 2%;
    }
  
  
  
    .windowName {
      display: block;
      position: relative;
      width: 10vw;
      color: rgb(170, 170, 118);
      margin: 2% auto 0 auto;
      padding: .7%;
    }
  
  
    .nextButton {
      border-radius: 10px;
      width: 8%;
      background-image: linear-gradient(225deg, #404702 0%, #3c281d 50%, #6f0b00 100%, #e67a00);
      color: white;
      display: block;
      margin-right: auto;
      margin-left: 45%;
      margin-bottom: 2%;
      margin-top: 2%;
      
    }
  
  }