.homeButton {
    display: block;
    margin: auto;
    margin-top: 40vh;
    padding: 10px 70px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    font-size: xx-large;
    color: black;
    cursor: pointer;
    transition: all 0.7s;
    background-image: linear-gradient(225deg, #404702 0%, #3c281d 50%, #6f0b00 100%, #e67a00);
  }
  
  .homeButton:hover::after {
    transform: rotate(150deg);
  }

  
@media only screen and (min-width: 768px) {

  
    .homeButton {
      display: block;
      margin-top: 40vh;
      padding: 30px 80px;
      background-image: linear-gradient(225deg, #404702 0%, #3c281d 50%, #6f0b00 100%, #e67a00);
  
      overflow: hidden;
      border-radius: 30px;
      font-size: xx-large;
      color: #f3f1ef;
      cursor: pointer;
      transition: all 0.3s;
    }
  
    .homeButton:hover::after {
      transform: rotate(150deg);
    }
  }
  
