.damier {
    border : solid black;
    display: flex;
}

.A1 {
    border: solid black;
}

.A2 {
    border: solid black;
}

.A3 {
    border: solid black;
}

.A4 {
    border: solid black;
}

.A5 {
    border: solid black;
}

.A6 {
    border: solid black;
}

.A7 {
    border: solid black;
}

.A8 {
    border: solid black;
}

.B1 {
    border: solid black;
}

.B2 {
    border: solid black;
}

.B3 {
    border: solid black;
}

.B4 {
    border: solid black;
}

.B5 {
    border: solid black;
}

.B6 {
    border: solid black;
}

.B7 {
    border: solid black;
}
.B8 {
    border: solid black;
}
.C1 {
    border: solid black;
}
.C2 {
    border: solid black;
}
.C3 {
    border: solid black;
}
.C4 {
    border: solid black;
}
.C5 {
    border: solid black;
}
.C6 {
    border: solid black;
}
.C7 {
    border: solid black;
}
.C8 {
    border: solid black;
}
.D1 {
    border: solid black;
}
.D2 {
    border: solid black;
}
.D3 {
    border: solid black;
}
.D4 {
    border: solid black;
}
.D5 {
    border: solid black;
}
.D6 {
    border: solid black;
}
.D7 {
    border: solid black;
}
.D8 {
    border: solid black;
}

