.damier {
    border : solid black;
    display: flex;
height: 60vh;
justify-content: center;
align-items: center;
}

#case {
 width: 200px;
 height: 325px;
 border: solid black;
 justify-content: center;
 align-items: center;
 border-radius: 25%;
}
.signeQ {
   
   display:flex;
   
}

.signeZ {
    border: solid black;
    display: none;
}

.signeS {
    border: solid black;
    display: none;
}

.signeD {
    border: solid black;
    display: none;
}

.signeR {
    border: solid black;
    display: none;
}

.signeF {
    border: solid black;
    display: none;
}

.signeT {
    border: solid black;
    display: none;
}

.signeG {
    border: solid black;
    display: none;
}

.signeH {
    border: solid black;
    display: none;
}

.signeU {
    border: solid black;
    display: none;
}

.signeJ {
    border: solid black;
    display: none;
}

.signeI {
    border: solid black;
    display: none;
}

.signeK {
    border: solid black;
    display: none;
}

.signeO {
    border: solid black;
    display: none;
}

.signeL {
    border: solid black;
    display: none;
}
.signeM {
    border: solid black;
    display: none;
}
.signeP {
    border: solid black;
    display: none;
}
.signeù {
    border: solid black;
    display: none;
}
