.damier {
    border : solid black;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.lineA {
    width: 200px;
    height: 325px;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
   
}

.cardandButton {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 20%;
    opacity: 50%;
    
  }
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.case {
 width: 200px;
 height: 325px;
 justify-content: center;
 align-items: center;
 border-radius: 25%;
 display: flex;
 color: white;

}
.case:hover {
    display: scale(1.2);
    transition-duration: 1s;

}

p {
    opacity: 100%;
    color: black;
    font-weight: bold;
 font-family: 'Roboto', sans-serif;
 font-size: 100px;

}

.button {
    background-color: black;
    color: white;
    width:150px;
    height: 50px;
    font-size: large;
    box-shadow: 10px 5px 5px black;
    font-weight:bold;
 font-style: italic;
 margin-top: 10px;
 margin-bottom: 35px;
}
#signeQ {
   
   display:flex;
   
}

#signeZ {
    border: solid black;
    display: none;
}

#signeS {
    border: solid black;
    display: none;
}

#signeD {
    border: solid black;
    display: none;
}

#signeR {
    border: solid black;
    display: none;
}

#signeF {
    border: solid black;
    display: none;
}

#signeT {
    border: solid black;
    display: none;
}

#signeG {
    border: solid black;
    display: none;
}

#signeH {
    border: solid black;
    display: none;
}

#signeU {
    border: solid black;
    display: none;
}

#signeJ {
    border: solid black;
    display: none;
}

#signeI {
    border: solid black;
    display: none;
}

#signeK {
    border: solid black;
    display: none;
}

#signeO {
    border: solid black;
    display: none;
}

#signeL {
    border: solid black;
    display: none;
}
#signeM {
    border: solid black;
    display: none;
}
#signeP {
    border: solid black;
    display: none;
}
#signeù {
    border: solid black;
    display: none;
}
